


<div class="row controls_row">
  <div class="col-xs-4 left-col">
    <button id="toggle_map" class="btn btn-City" name="toggle_map">Toggle map</button>
    <% # <form action="/get_all_cities" method="post"> %>
    <% #  <button id="show_all" class="btn" type="submit">gimme many!</button> %>
    <% # </form> %>
  </div>
  <div class="col-xs-4 mid-col">
    <h3 id="sub-header">Search the database...</h3>
    <form action="/get_city_name" method="post">
      <input class="blk_text" type="text" name="city_name" placeholder="by city" required></input>
      <button class="btn btn-City btn-sm" type="submit">Go!</button>
      <% if (City.current_city != nil) && (City.current_city != "notfound") %>
        <p id="instructions">Click UFO icon for sighting reports</p>
      <% end %>
      <% if (City.current_city == "notfound") %>
        <p id="city_err">Sorry I couldn't find that city</p>
      <% end %>
    </form>
  </div>
  <div class="col-xs-4 query right-col">
    <div class="right-col-box">
      <% if ((City.current_city != nil) && (City.current_city != "many") && (City.current_city != "notfound") )%>
          <h3>Query summary:</h3>
          <p>Sightings found: <%= City.current_city.total %></p>
          <p>City latitude: <%= City.current_city.lat %></p>
          <p>City longitude: <%= City.current_city.lng %></p>
      <% end %>
    </div>
  </div>
</div>

<div id="map_super">
  <% # This div is where the google map will be be displayed %>
  <div id="map"></div>
  <% # Replace the value of the key parameter with your own API key. %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Keys.js_base%>"></script>
</div>


<div id="dialog-window">
  <div id="scrollable-content">
    <ol id="reports">
    </ol>
  </div>
</div>
