
<h2 id="sub-header">Search the UFO database...</h2>
<br>
<div class="row controls_row">
  <div class="col-xs-4">
    <button id="toggle_map" class="btn btn-City" name="toggle_map">Toggle map</button>
    <br>
    <br>
    <form action="/get_all_cities" method="post">
      <button class="btn" type="submit">gimme many!</button>
    </form>
    <br>
  </div>
  <div class="col-xs-4">
    <form action="/get_city_name" method="post">
      <input class="blk_text" type="text" name="city_name" placeholder="search by city" required></input>
      <button class="btn btn-City btn-sm" type="submit">Search!</button>
      <% if (City.get_current_city != nil) %>
        <h4 id="instructions">Click UFO for sighting reports</h4>
      <% end %>
    </form>
  </div>
  <div class="col-xs-4 query">
    <% if ((City.get_current_city != nil) && (City.get_current_city != "many"))%>
        <h3>Your Query results:</h3>
        <p>Sightings found: <%= City.get_current_city.get_total %></p>
        <p>City latitude: <%= City.get_current_city.get_lat %></p>
        <p>City longitude: <%= City.get_current_city.get_lng %></p>
    <% end %>
  </div>
</div>

<div id="map_super">
  <% # This div is where the google map will be be displayed %>
  <div id="map"></div>
  <% # Replace the value of the key parameter with your own API key. %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=Keys.js_base%>"></script>
</div>


<div id="dialog-window">
  <div id="scrollable-content">
    <ol id="reports">
    </ol>
  </div>
</div>
