/*
FONTS LIST
font-family: 'Ubuntu Mono', monospace;
font-family: 'Ubuntu', sans-serif;
font-family: 'Nova Mono', monospace;
font-family: 'Codystar', cursive;
font-family: 'Syncopate', sans-serif;
font-family: 'Averia Sans Libre', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Unica One', cursive; kinda like
font-family: 'Walter Turncoat', cursive; for summaries
*/

/* General classes*/
.blk_text {
  color: black;
}
.opacity {
    opacity: 0;
}
/* END General classes*/

#background-image {
  background-image: url('../img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}


body {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
}

@media (max-width: 3000px) and (min-width: 685px) {
  .jumbotron { letter-spacing: 20px; }
  .jumbotron h1 { font-size: 100px; }
}
@media (max-width: 685px) and (min-width: 1px) {
  .jumbotron { letter-spacing: 4px; }
  .jumbotron h1 { font-size: 40px; }
}

.jumbotron {
  background: rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  font-family: 'Nova Mono', monospace;
}
#ufo {
  color: #B0766D;
}


#sub-header {
  text-align: center;
  margin-top: 0px;
}

.controls_row {
  height: 132px;
}

.btn {
  background-color: #B7877F;
  font-size: 13px;
  letter-spacing: 2px;
  border-color: #B7877F;
}

.btn-info:hover {
  background-color: #a56a5f;
  border-color: #B7877F;
}

.mid-col {
  text-align: center;
}
.mid-col input {
  min-width: 60px;
}

.right-col h3 {
  margin-top: 0px;
}
.right-col-box {
  max-width: 270px;
  min-width: 125px;
  float: right;
  margin-right: 15px;
}

#toggle_map {
  margin-top: 12px;
  margin-bottom: 10px;
}

#toggle_map, #show_all {
  margin-left: 10px;
}

#instructions {
  index: 2;
  padding: 0px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#map {
  height: 600px;
  width: 100%;
}

.query {
  text-align: center;
}

.credits {
  background-image: url('../img/child_awe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  position: fixed;
}

/* scrollable window */
#dialog-window {
  padding-top: 2%;
  height: 500px;
}

#scrollable-content {
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  opacity: 0.5;
  height: 400px;
  overflow: auto;
}
